<div class="nav">
  <a>
    <h1 class="ttl-logo">SCM Cafe</h1>
  </a>
  <ul>
    <li><%= link_to "Order Lists", chefs_path, class: "link is-active" %></li>
    <li>Item Lists</li>
    <li><%= link_to "Profile", chef_profile_path, class: "link is-active" %></li>
    <li>Graph</li>
    <li><%= link_to "Log Out", chef_sign_out_path, class: "link", method: :post  %></li>
  </ul>
</div>
<div class="container">
  <h2  class="mb-20">Chef Profile</h2>
  <div class="login-photo">
    <%= image_tag ('login_icons/img_chef_login.jpg'), class: "logo", alt: 'sign up logo' %>
  </div>
  <div  class="mb-20">
    <strong>Name:</strong>&nbsp;&nbsp;
    <%= @chef.name %>
  </div>
  <div class="mb-20">
    <strong>Email:</strong>&nbsp;&nbsp;
    <%= @chef.email %>
  </div>
  <div class="mb-20">
    <strong>Phone:</strong>&nbsp;&nbsp;
    <%= @chef.phone %>
  </div>
  <div class="mb-20">
    <strong>Address:</strong>
    <%= @chef.address %>
  </div>
  <div class="mb-20">
    <strong>Birthday:</strong>
    <%= @chef.birthday %>
  </div>
  <div class="profile-password">
    <%= link_to "Edit Profile", edit_profile_path %><br>
    <%= link_to "Change Password", password_path %>
  </div>
</div>
