<div class="container">
  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <p style="color: red"><% error %></p> 
    <% end %>
  <% end %>
  <h2>Update Item Info</h2>
  <div class="create-form">
    <%= form_for @item do |f| %>
      <div class="mb-20">
        <%= f.text_field :category, class: "cat", placeholder: "Item Category" %>
      </div>
      <div class="mb-20">
        <%= f.text_field :name, class: "name", placeholder: "Item Name" %>
      </div>
      <div class="mb-20">
        <%= f.text_field :price, class: "price", placeholder: "Item Price" %>
      </div>
      <div class="mb-20">
        <div class="button-wrap">
          <label class ="upload-button" for="item_image">Upload an Image</label>
          <%= f.file_field :image, placeholder: "Image" %>
        </div>
      </div>
      <div class="mb-20"><%= f.button :submit, class: "edit-btn" %></div> 
      <div><%= link_to "Go Back", items_path, class: "back-button" %></div>
    <% end %>
  </div>
</div>