<div class="main-container">
  <div class="create-item">
    Create a new Item?<%= link_to "Create new Item", new_item_path %>
  </div>
  <% if @coffee.length > 0 %>
    <div>
      <h2 class="hdr"><%= @coffee[0].category.capitalize %></h2>
      <div class="clearfix">
        <% @coffee.each do |item| %>
          <div class="items-div">
            <p><%= image_tag item.image.url(:original) %></p>
            <p class="item-detail"><%= item.name %></p>
            <p class="item-detail"><%= item.price %>MMK</p>
            <p class="link-btn"><%= link_to "Update ", edit_item_path(item[:id]) %>
            </p>
            <p class="link-btn">
              <%= link_to "Delete", item_path(item[:id]), method: :delete, data: { confirm: "Are you sure you want to delete this item?" } %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @icecream.length > 0 %>
    <div>
      <h2 class="hdr"><%= @icecream[0].category.capitalize %></h2>
      <div class="clearfix">
        <% @icecream.each do |item| %>
          <div class="items-div">
            <p><%= image_tag item.image.url(:original) %></p>
            <p class="item-detail"><%= item.name %></p>
            <p class="item-detail"><%= item.price %>MMK</p>
            <p class="link-btn"><%= link_to "Update", edit_item_path(item[:id]) %>
            </p>
            <p class="link-btn">
              <%= link_to "Delete", item_path(item[:id]), method: :delete, data: { confirm: "Are you sure you want to delete this item?" } %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @cake.length > 0 %>
    <div>
      <h2 class="hdr"><%= @cake[0].category.capitalize %></h2>
      <div class="clearfix">
        <% @cake.each do |item| %>
          <div class="items-div">
            <p><%= image_tag item.image.url(:original) %></p>
            <p class="item-detail"><%= item.name %></p>
            <p class="item-detail"><%= item.price %>MMK</p>
            <p class="link-btn"><%= link_to "Update", edit_item_path(item[:id]) %>
            </p>
            <p class="link-btn">
              <%= link_to "Delete", item_path(item[:id]), method: :delete, data: { confirm: "Are you sure you want to delete this item?" } %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @tea.length > 0 %>
    <div>
      <h2 class="hdr"><%= @tea[0].category.capitalize %></h2>
      <div class="clearfix">
        <% @tea.each do |item| %>
          <div class="items-div">
            <p><%= image_tag item.image.url(:original) %></p>
            <p class="item-detail"><%= item.name %></p>
            <p class="item-detail"><%= item.price %>MMK</p>
            <p class="link-btn"><%= link_to "Update", edit_item_path(item[:id]) %>
            </p>
            <p class="link-btn">
              <%= link_to "Delete", item_path(item[:id]), method: :delete, data: { confirm: "Are you sure you want to delete this item?" } %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
