<div class="container">
  <h2>Edited Item</h2>
  <h3><%= @item.category %></h3>
  <div class="img-div"><%= image_tag @item.image.url(:medium), class: "img-show" %></div>
  <div class="show-item"><%= @item.name  %></div>
  <div class="show-item">$<%= @item.price %></div>
  <%= link_to "back to Items", items_path %>
</div>
