<div class="outercontainer">

  <div class="nav">
    <a>
      <h1 class="ttl-logo">SCM Cafe</h1>
    </a>
    <ul>
      <li>Item Lists</li>
      <li><%= link_to "Profile", waiter_profile_path, class: "link is-active" %></li>
      <li>Graph</li>
      <li><%= link_to "Log Out", waiter_sign_out_path, class: "link", method: :post %></li>
    </ul>
  </div>

  <div class="container">
    <h2  class="mb-20">Waiter Profile</h2>
    <div class="login-photo">
      <%= image_tag ("login_icons/img_waiter_login.png"), class: "logo", alt: "sign up logo" %>
    </div>

    <ul class="column">
      <div class="left">
        <li class="mb-20">Name:</li>
        <li class="mb-20">Email:</li>
        <li class="mb-20">Phone:</li>
        <li class="mb-20">Address:</li>
        <li class="mb-20">Birthday:</li>
      </div>

      <div class="right">
        <li class="mb-20"><%= @waiter.name %></li>
        <li class="mb-20"><%= @waiter.email %></li>
        <li class="mb-20"><%= @waiter.phone %></li>
        <li class="mb-20"><%= @waiter.address %></li>
        <li class="mb-20"><%= @waiter.birthday %></li>
      </div>

    </ul>
    
    <div class="profile-password">
      <%= link_to "Edit Profile", waiter_edit_profile_path %>
      <%= link_to "Change Password", waiter_password_path %>
    </div>

  </div>
</div>
