<div class="outercontainer">
  <div class="nav">
    <a>
      <h1 class="ttl-logo">SCM Cafe</h1>
    </a>
    <ul>
      <li><%= link_to "Order Lists", waiters_path, class: "link" %></li>
      <li>Item Lists</li>
      <li><%= link_to "Profile", waiter_profile_path, class: "link is-active" %></li>
      <li>Graph</li>
      <li><%= link_to "Log Out", waiter_sign_out_path, class: "link", method: :post %></li>
    </ul>
  </div>
  <div class="container">
    <h2>Waiter Password Change</h2>
    <%= form_with url: waiter_password_path, class: "login-form", method: :post do |f| %>
      <div class="mb-20">
        <%= f.password_field :current_password, class: "text-box", placeholder: "Enter Current Password" %>
        <div class="notice">
          <%= @current %>
        </div>
      </div>
      <div class="mb-20">
        <%= f.password_field :password, class: "text-box", placeholder: "Enter New Password" %>
        <div class="notice">
          <%= @new %>
        </div>
      </div>
      <div class="mb-20">
        <%= f.password_field :confirmation_password, class: "text-box", placeholder: "Confirm  Password" %>
        <div class="notice">
          <%= @confirm %>
        </div>
        <div class="notice">
          <%= @confirmation %>
        </div>
      </div>
      <div class="submit">
        <%= f.submit "Update", class: "submit-btn" %>
        <%= link_to "Go Back", waiter_profile_path, class: "cancel-btn" %>
      </div>
    <% end %>
  </div>
</div>
