<div class="container">

  <div class="login-photo">
    <%= image_tag ("login_icons/img_waiter_login.png"), class: "logo", alt: "waiter login icon" %>
  </div>
  <h2>Watier Login</h2>

  <%= form_with url: waiter_sign_in_path,  class: "login-form" do |form| %>
    <div>
      <%= form.text_field :email, class: "text-box", placeholder: "Enter Email", required: true %>
    </div>

    <div>
      <%= form.password_field :password, class: "text-box", placeholder: "Enter Password", required: true %>
    </div>

    <div class="login-link">
      <%= link_to "Login As Chef?", chef_login_path %>
      <%= link_to "Forgot Password?" %>
    </div>

    <p class="create-acc">Do not have any account? <%= link_to "Sign Up Account", new_waiter_path %></p>
    <div class="submit"><%= form.submit "Sign In", class: "submit-btn" %></div>

  <% end %>

</div>
